h1 {
    color: #008000;
    text-align: center;
}

h2 {
    text-decoration: underline;
    color: #0000FF;
}

div {
    text-align: center;
}


/* p {
    color: #FF33AF;
} */

p.doan1 {
    color: #0000FF;
}

.inhoa {
    font-weight: bold;
    background-color: #FECFFD;
    color: #FF33AF
}

.background-yellow {
    background: #FFFFCC;
}

p.doan2 {
    color: #FF0704;
}

p.doan3 {
    color: #72a771;
}

hr {
    width: 300px;
}